@{
    ViewData["Title"] = "Home Page";
}


<script asp-src-include="~/js/**/*.js"></script>
<link rel="stylesheet" asp-href-include="~/css/*.css" />

<p class="dev">Hello from all of css files!</p>



